@import "../common/syles/sass/variables.scss";
@import "../common/syles/sass/mixins";

.freelancerBlock {

  padding: 40px 0px;
  background-color: $bgSecondColor;
  text-align: center;

  .freelancerContainer {
    @extend container;
    height: 100%;
    @include flex(column, space-around, center, wrap);

    h2 {
      @extend TitleItem;
      color: $textColor ;
      font-size: 1.5em;
    }
  }

}



