.freelancerBlock{
    padding: 30px 0px;
    background-color: #a29786;
    text-align: center;
}

.freelancerContainer {
    height: 100%;
    background-color: #a29786;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.title {
    background-color: darkgrey;
}

.butt {
    background:  #606060;
    width: 200px;
    height: 100px;
}