@import "../common/syles/sass/variables.scss";
@import "../common/syles/sass/mixins";
@import "../common/components/button/Button.module";
.contactBlock {
  padding: 30px 0px;
  background-color: $bgColor;

  .contactContainer {
    @extend container;
    height: 100%;
    @include flex(column, space-around, center, wrap);
    display: flex;

    .contactsForm {
      width: 100%;
      max-width: 350px;
      height: 100px;
      @include flex(column, space-between, space-between, wrap);
      margin-bottom: 20px;

      input, textarea {
        background: $bgItemColor;
        border: 1px $primaryColor;
        color: $primaryColor;
        font-size: 18px;
      }

    }

    .showBut {
      @extend .btn;


    }
  }
}




