@import "../../common/syles/sass/variables.scss";
@import "../../common/syles/sass/mixins";


.skill {
  width: 200px     ;
  color: $textColor;
  background-color: $bgItemColor;
  @include flex(column, center, center, wrap);
  text-align: center;
  padding-top: 20px;
  margin: 2px;
  @media screen and (max-width: 640px) {
    height: 180px;
    width: 130px;
  }

  .icon {
    height: 60px;
    width: 60px;
    background-color: #606060;

  }

  .description {
   @extend textItem
  }
}



