@import "../../../common/syles/sass/variables.scss";
@import "../../../common/syles/sass/mixins";

.titleItem {
  @include TitleItem();
  box-sizing: border-box;
  display: block;
  margin-bottom: 0;
}