@import "../../common/syles/sass/variables.scss";

.work {
  width: 450px;
  background-color: $bgItemColor;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
  @media screen and (max-width: 600px) {
    width: 250px;
  }

  h4 {
    font-size: 24px;
    text-transform: uppercase;
    color: $primaryColor;
    margin-bottom: 20px;
    margin-top: 20px;
    font-family: oswald, sans-serif;
    font-weight: 600;
    line-height: 1.2;
    box-sizing: border-box;
    display: block;
  }

  p {
    color: $textColor;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 0;
    margin-top: 0;
    display: block;
    margin-block-end: 20px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    line-height: 27px;
    font-family: rubik, sans-serif;
  }

  .imgContainer {
    background-color: $bgColor;
    height: 350px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    @media screen and (max-width: 600px) {
      height: 200px;
    }

    &::before {
      position: absolute;
      content: "";
      background-color: black;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0.3;
    }

    .watch {
      margin: 0 auto;
      bottom: 50%;
      background-color: $primaryColor;
      height: 30px;
      width: 100px;
      color: white;
      border-radius: 10px;
      font-family: rubik, sans-serif;

    }
  }
}




