@import "../common/syles/sass/variables.scss";
@import "../common/syles/sass/mixins";

.worksBlock {
  background-color: $bgColor;

  .worksContainer {
    @extend container;
    @include flex(column, center, center, wrap);
    padding-bottom: 20px;

    .works {
      @include flex(column, space-evenly, center, wrap);
      width: 100%;
    }
  }
}



