.worksBlock{

    background-color: #15191a;

}
.worksContainer {
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap:  nowrap;
    padding-bottom: 20px;
}

.title {
    background-color: darkgrey;
}
.works {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}