.worksBlock{

    background-color: #acdfe0;
    padding: 30px 0px;
}
.worksContainer {
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap:  nowrap;
}

.title {
    background-color: darkgrey;
}
.works {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}