@import "../common/syles/sass/variables.scss";


.skillsBlock {
  background-color: $bgSecondColor;

  .skillsContainer {
    flex-direction: column;
    justify-content: flex-start;

    .skills {
      width: 100%;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
    }
  }
}


