.skillsBlock {

    background-color: black;
}

.skillsContainer {
    flex-direction: column;
    justify-content: flex-start;
}



.skills {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}