@import "../common/syles/sass/variables.scss";
@import "../common/syles/sass/mixins.scss";


.skillsBlock {
  background-color: $bgSecondColor;

  .skillsContainer {
    @extend container;

    padding-bottom: 50px;


    @include flex(column, flex-start, center, wrap);

    .skills {
      @include flex(row, space-around, center, wrap);
      width: 100%;

    }
  }
}


