.mainBlock {
    height: 100vh;
    background-color: #15191a;
}

.mainContainer {
    height: 100%;
     justify-content: space-evenly !important

}
.text {

    font-size: 24px;
    font-family: oswald, sans-serif;
    width: 300px;
    color: #22cd6f;
}

.text span, p {
    color: #999;

}

.photo {
      height: 500px;
}
